<table id="<%= resource_class.name.underscore.pluralize %>_index_table" class="index_table">
  <tr>
    <% index_table_columns.each do |column| %>
      <th><%= column.to_s.titlecase %></th>
    <% end %>
  </tr>
  <%= render_partial_or_default 'item', :collection => collection %>
</table>